<form #userreg = "ngForm" (ngSubmit) = "onClickSubmit(userreg.value)" style="border: 2px solid #2d2d2d;">
  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" name = "name" placeholder = "Name" ngModel >
</div>
<div class="form-group">
  <label for="usr">Email:</label>
  <input type="email" class="form-control" name = "email" placeholder = "email" ngModel >
</div>
  <div class="form-group">
  <label for="usr">Password:</label>
  <input type = "password" name = "passwd" class="form-control" placeholder = "passwd" ngModel>
</div>
  <br/>
  <div class="form-group">
  <label for="usr">UserId:</label>
  <input type = "text" name = "userid" class="form-control" placeholder = "userid" ngModel>
</div>
  <br/>

  <div class="form-group">
  <label for="usr">Contact:</label>
  <input type = "number" name = "contact" class="form-control" placeholder = "Contact" ngModel>
</div>
  <br/>
  <div class="form-group">
  <label for="usr">Age:</label>
  <input type = "number" name = "age" class="form-control" placeholder = "Age" ngModel>
</div>
  <br/>
  <div class="form-group">
  <input type = "submit" class="form-control" value = "submit">
</div>
</form>
<p>{{todaydate}}</p>
