<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" style="border: 2px solid #2d2d2d;">
  <div class="form-group">

<div class="form-group">
  <label for="usr">Email:</label>
  <input type="email" class="form-control"   name = "email" placeholder = "email"  ngModel required>
</div>
  <div class="form-group">
  <label for="usr">Password:</label>
  <input type = "password" name = "passwd" class="form-control"   placeholder = "passwd"  ngModel required>
</div>
  <br/>

  <div class="form-group">
  <input type = "submit" class="form-control" value = "submit">
</div>
</div>
</form>
<p>{{date}}</p>
