#title{
    font-family: "consolas";
    transition: letter-spacing 0.5s ;
    text-align: center;
    font-style: italic;
    color: blue;
}
#title:hover{
    letter-spacing:1em;
}

#outerElement{
  background-color: orange;
  text-align: center;
}
