<!--The content below is only a placeholder and can be replaced.-->

<h1><p id="title">Dropdown</p></h1>
<!-- <app-javascript (res) = "kuch($event)"></app-javascript> -->
<app-php></app-php>
<app-cominteraction></app-cominteraction>

<app-forms></app-forms>
<app-regforms></app-regforms>
<app-reactiveform></app-reactiveform>

<div id='outerElement'>
    <h1 appKuku style="background: rgb(197, 199, 95) ; text-align:center"  >Something</h1>
</div>
<br>
<br>
<div class="container">

    <table class="table table-striped"  contenteditable="false" style="border:3px solid;"  style="background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));" >
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr id='1'>
          <td id='row_1col_1'>John</td>
          <td id='row_1col_2'>Doe</td>
          <td id='row_1col_3'>john@example.com</td>
        </tr>
        <tr id='2'>
          <td id='row_2col_1'>Mary</td>
          <td id='row_2col_2'>Moe</td>
          <td id='row_2col_3'>mary@example.com</td>
        </tr>
        <tr id='3'>
          <td id='row_3col_1'>July</td>
          <td id='row_3col_2'>Dooley</td>
          <td id='row_3col_3'>july@example.com</td>
        </tr>
        <tr >
          <td colspan='3'><button type="button" class="btn btn-primary btn-sm btn-block" (click)= "changeContent(); ">Change Element</button></td>

        </tr>
      </tbody>
    </table>

  </div>
  <h1><b>{{todaydate| date:"d/M/y"}}</b></h1>

  <div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" [(ngModel)]="Name"  #ad>
</div>
<p  *ngIf=" Name != Name.toLowerCase();else dothis ">{{ Name|lowercase }}</p>
<ng-template #dothis>{{Name | uppercase}}</ng-template>

