<div>
   <form [formGroup] = " formdata" (ngSubmit) = "onClickSubmit( formdata.value )" >
      <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" formControlName = "emailid">
      <br/>
      <input type = "password" class = "fortextbox" name = "passwd" placeholder = "passwd" formControlName = "passwd">

      <br/>
      <input type = "submit" [disabled] = "!formdata.valid" class = "forsubmit" value = "Log In">

   </form>
</div>

<p>
   Email entered is : {{emailid}}
</p>
<p>{{date}}</p>
