
<div class="form-group">
    <label for="sel1">Select list:</label>
    <select class="form-control" id="sel1" (change) = "changenames(has.value)" #has>
      <option *ngFor="let i of names" value="{{i}}">{{i}}</option>
    </select>
</div><br><br>


<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" [(ngModel)]="Name"  #ad>
  </div>
<div >
    <label for="usr" >Enter Color:</label>
    <input type="text" class="form-control"  placeholder="Enter Color"   #col >
    <button type="button" class="btn btn-success" (click)=" socalled(col.value)">
        <span class="glyphicon glyphicon-submit"></span>Change Color
    </button>
    <br>
    <input type="text" class="form-control" [(ngModel)]="cross" (keyup)="callCross()" (keydown)="callCross()">
    <br>
    <button type="button" class="btn btn-success" >
        <span class="glyphicon glyphicon-submit"></span>Cross
    </button>

    <label>

<div>


    <button type="button" class="btn btn-default" (click)="add()">
      <span class="glyphicon glyphicon-submit"></span>Add
    </button>
</div>
</label>
 <label>
<div>

    <button type="button" class="btn btn-default" (click)="remove()">
      <span class="glyphicon glyphicon-submit"></span>Remove
    </button>
</div>
</label>
</div>
<!-- <pre> {{ myObj.name }} </pre> -->

